SECRET_KEY="Your secret_key here"
CALENDAR_ID_LIST=first_id,second_id,...,last_id
TASKLIST_ID=tasklist_id
CREDENTIALS_CONTENTS="credentials.json contents here"
TOKEN_CONTENTS="token.json contents here"