<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои новости</title>
</head>
<body>
<button onclick="location.href='?offset={{offset - 1}}'">Предыдущая неделя</button>
<button onclick="location.href='?offset=0'">Текущая неделя</button>
<button onclick="location.href='?offset={{offset + 1}}'">Следующая неделя</button>
<h1> События на неделю: </h1> <br>
{% if events is string %}
    {{events}}
{% else %}
    {% for day, day_events in events.items() %}
        <div class="day">
            <h3> {{day}} </h3> <br>
            {% for event in day_events %}
                Начало: {{event["start"][:16].replace("T", " ")}},
                информация о событиях:
                <span style="background-color: {{event['color']}}"> {{event["summary"]}} </span> <br>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}

</body>
</html>